/*======================= Dark variable ======================*/
.dark {
  /*====== Common section dark color Start =====*/
  background-color: hsl(var(--dark));

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: hsl(var(--white)/0.9) !important;
  }

  .banner-left__content h2 {
    color: hsl(var(--white));
  }

  .header.fixed-header .header-wrapper .menu-wrapper ul.main-menu a {
    color: hsl(var(--white));
  }

  .header-wrapper .menu-right-wrapper ul li i {
    color: hsl(var(--white));
  }

  .banner-left__content span {
    color: hsl(var(--base));
  }

  .header.fixed-header .menu-search-wrap .menu-search-wrap--search-icon i {
    color: hsl(var(--white));
  }

  .banner-left__content p {
    color: hsl(var(--white)/0.6);
  }

  .banner-left__content .btn {
    color: hsl(var(--white));

    &:hover {
      color: hsl(var(--base));
    }
  }

  .contact-list__item-icon {
    color: hsl(var(--white));
  }

  .header {
    background-color: transparent;
  }

  li.login-registration-list__item .social-list__item .social-list__link {
    color: hsl(var(--white)) !important;
    border: 0px !important;
  }

  .menu-search-wrap .menu-search-wrap--search-icon i {
    color: hsl(var(--white));
  }

  p {
    color: hsl(var(--white)/.6);
  }

  .header.fixed-header {
    background-color: hsl(var(--dark));
  }

  .nav-menu .nav-item .nav-link {
    color: hsl(var(--white)) !important;
  }

  .nav-item .nav-link.show[aria-expanded=true] {
    color: hsl(var(--white)) !important;
  }

  .dropdown-menu li .dropdown-item {
    color: hsl(var(--white));
  }

  .nav-menu .nav-item:hover .dropdown-menu {
    background: hsl(var(--dark));
  }

  .dropdown-menu li .dropdown-item {
    color: hsl(var(--white));
  }

  .navbar-toggler.header-button {
    color: hsl(var(--white));
  }

  .header-wrapper .menu-wrapper ul.main-menu a {
    color: hsl(var(--white));
  }

  .btn--base.outline {
    color: hsl(var(--white));
  }

  .contact-list__link {
    color: hsl(var(--white));
  }

  .language-box .select {
    color: hsl(var(--white));
  }

  .toggle-search-box i {
    color: hsl(var(--white));
  }

  .testimonial-item__name {
    color: hsl(var(--white));
  }

  .testimonial-item__designation {
    color: hsl(var(--white));
  }

  .footer-item__title {
    color: hsl(var(--white));
  }

  .footer-menu__link {
    color: hsl(var(--white)/.5);
  }

  .footer-contact-menu__item p {
    color: hsl(var(--white)/.5);
  }

  .social-list__item .social-list__link {
    color: hsl(var(--white));
  }

  .social-list__item .social-list__link:hover {
    color: hsl(var(--base)) !important;
  }

  .custom--accordion .accordion-button {
    color: hsl(var(--white));
  }

  .custom--accordion .accordion-button:not(.collapsed) {
    color: hsl(var(--white));

  }

  .custom--accordion .accordion-body {
    color: hsl(var(--white)/0.6);
  }

  .custom--accordion .accordion-button[aria-expanded=false]::after {
    content: "\f067";
    color: hsl(var(--white));
  }

  .custom--accordion .accordion-button[aria-expanded=true]::after,
  .custom--accordion .accordion-button[aria-expanded=false]::after {
    color: hsl(var(--white));
  }

  .pagination .page-item .page-link {
    color: hsl(var(--white));
  }

  /** ====  Form   ===*/
  .subscribe-wrap__input input {
    &::placeholder {
      color: hsl(var(--white)) !important;
    }
  }

  .search-box.footer-area input.form--control {
    &::placeholder {
      color: hsl(var(--white)) !important;
    }
  }

  .form--control {
    color: hsl(var(--white)) !important;

    &::placeholder {
      color: hsl(var(--white)/0.5) !important;
    }

    &:focus {
      color: hsl(var(--white)/.6);
    }

    &:disabled,
    &[readonly] {
      background-color: hsl(var(--dark)/.6);
    }

    &[type="password"] {
      color: hsl(var(--white)/.6);

      &:focus {
        color: hsl(var(--white)/.6);
      }
    }

    &[type="file"] {
      &::file-selector-button {
        color: hsl(var(--white)/.6);

        &:hover {
          color: hsl(var(--white));
        }
      }
    }
  }

  .form--label {
    color: hsl(var(--white)/0.9);
  }

  .input-group-text {
    color: hsl(var(--dark));
  }

  .choose-domain .input-group.country-code select.select.form--control {
    width: 120px;
    color: hsl(var(--white)) !important;
  }

  .breadcrumb__link {
    color: hsl(var(--white)/.6);
  }

  .breadcrumb__title {
    color: hsl(var(--white));
  }

  .breadcrumb__item {
    color: hsl(var(--white)/.6);
  }

  .breadcrumb__item-text {
    color: hsl(var(--white)/.6);
  }

  .blog-sidebar__title {
    color: hsl(var(--white)) !important;
  }

  .contact-info__addres-wrap .single_wrapper .single-info .cont-text h6 a {
    color: hsl(var(--white)/0.6);
  }

  .contactus-form {
    background-color: transparent;
  }

  /* ==== Dashboard ==== */
  .sidebar-menu-list__link {
    color: hsl(var(--white));
  }

  .sidebar-submenu-list__link {
    color: hsl(var(--white));
  }

  .dashboard .pricing-plan-item .pricing-plan-item__bottom button {
    color: hsl(var(--white));
  }

  .form--control:disabled,
  .dark .form--control[readonly] {
    background-color: hsl(var(--base)/0.6);
  }

  .form--control option {
    background: hsl(var(--dark));
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: hsl(var(--white)/.5) !important;
  }

  /* ===== Table  ====*/
  .table thead tr th {
    background-color: hsl(var(--base)/0.05);
    color: hsl(var(--white));
  }

  .table tbody tr td {
    color: hsl(var(--white));
    border: 1px solid hsl(var(--base)/0.1);

    a {
      color: hsl(var(--white));

      &:hover {
        color: hsl(var(--base));
      }
    }
  }

  .table tbody tr td::before {
    color: hsl(var(--black));
  }

  .modal-content {
    color: var(--bs-modal-color);
    background-color: hsl(var(--dark));
  }

  .btn-close {
    color: hsl(var(--white)) !important;
    filter: invert(1);
  }

  .password-show-hide {
    color: hsl(var(--white)/0.5);
  }

  .about-section .about-bg {
    filter: opacity(0.3);
  }

  /*=========== Common section dark color End ==========*/
  .product-details__content .title {
    color: hsl(var(--white)/0.8);
  }

  .service {
    box-shadow: 0px 20px 30px rgba(1, 6, 20, 0.1);
  }

  .service:hover {
    box-shadow: 0px 15px 30px rgba(61, 90, 125, 0.08);
  }

  .experience {
    box-shadow: 0px 20px 30px rgba(1, 6, 20, 0.1);
    background-color: hsl(var(--dark));
  }

  .experience:hover {
    box-shadow: 0px 15px 30px rgba(61, 90, 125, 0.08);
  }

  .why-choose-item {
    background-color: hsl(var(--dark));
  }

  .testimonial-item {
    background-color: hsl(var(--dark));
  }

  .section-heading__title {
    color: hsl(var(--white));
  }

  .service__content h3 {
    color: hsl(var(--white));
  }

  .service__content a {
    color: hsl(var(--white));
  }

  .pricing-plan-item .pricing-plan-item__top .title {
    color: hsl(var(--white));
  }

  .pricing-plan-item .pricing-plan-item__price .title {
    color: hsl(var(--white));
  }

  .pricing-plan-item .pricing-plan-item__price .title span {
    color: hsl(var(--white)/0.5);
  }

  .product__price-title span a {
    color: hsl(var(--white));
  }

  .product__title a {
    color: hsl(var(--white));
  }

  .product__rating-view a {
    color: hsl(var(--white));

    &:hover {
      color: hsl(var(--white)) !important;
    }
  }

  .ecommerce-product__content .title a {
    color: hsl(var(--white)/0.8);

    &:hover {
      color: hsl(var(--base));
    }
  }

  button {
    cursor: pointer;
    border: none;
    color: hsl(var(--white));

    &:focus {
      outline: none;
    }
  }

  .client-logos img {
    filter: invert(1);
  }

  .order-wrapper__top h4 {
    color: hsl(var(--white));
  }

  .search-bar.form--control {
    color: hsl(var(--white));
  }

  .search-bar.header-search .form--control::placeholder {
    color: hsl(var(--white));
  }

  .latest-blog__title a {
    color: hsl(var(--white));
  }

  .text-list.style-tag .text-list__link {
    color: hsl(var(--white));
  }

  .contact-map iframe {
    filter: brightness(0.6);
  }

  .modal-header {
    border-bottom: 1px solid hsl(var(--white)/.1);
  }

  .modal-footer {
    background-color: var(--bs-modal-footer-bg);
    border-top: 1px solid hsl(var(--white)/.1);
  }

  .custom--card {
    background-color: transparent;
  }

  .custom--card .card-body {
    background-color: hsl(var(--white)/.1);
  }

  .account-form {
    background-color: transparent;
  }

  .sidebar-menu.show-sidebar {
    background-color: hsl(var(--dark));
  }

  .input-group.country-code .input-group-text {
    color: hsl(var(--white));
  }

  .banner-section .shape-banner-bg {
    filter: brightness(0.2);
  }

  .custom--accordion:last-of-type .accordion-button.collapsed {
    color: hsl(var(--white));
  }

  .footer-item .social-list__item .social-list__link {
    color: hsl(var(--white));
  }

  .bottom-footer .bottom-footer-text {
    color: hsl(var(--white));
  }

  .bottom-footer-menu ul li a {
    color: hsl(var(--white));
  }

  .footer-menu__link::before {
    color: hsl(var(--white));
  }

  .bottom-footer-menu ul li::after {
    background: hsl(var(--white));
  }

  .newsletter-popup-wrap__inner {
    border: 1px solid hsl(var(--base));
    background-color: hsl(var(--dark));
  }

  .newsletter-popup-wrap__close-btn:hover {
    background: hsl(var(--base)/.4);
  }

  .search-box.footer input.form--control {
    color: hsl(var(--white)) !important;
  }

  .custom--tab .nav-item .nav-link {
    color: hsl(var(--white));
    border: 1px solid hsl(var(--white)/0.08) !important;
  }

  /** ====================== Random section dark color ========================*/
  .why-choose-us__topic .item .why-title-cont .content h4 {
    color: hsl(var(--white));
  }

  .experience__icon h3 {
    color: hsl(var(--white));
  }

  .blog-item__title-link {
    color: hsl(var(--white));

    &:hover {
      color: hsl(var(--base));
    }
  }

  .text-list__item {
    color: hsl(var(--white)/.6);
  }

  a.btn--simple {
    color: hsl(var(--white)/.6);

    &:hover {
      color: hsl(var(--base));
    }
  }

  .blog-bottom-wrap .auth-name h5 span {
    color: hsl(var(--white)/0.6);
  }

  .footer-area::after {
    background-color: hsl(var(--black)/.99);
  }

  .bottom-footer {
    background-color: hsl(var(--dark)/0.7);
  }

  .sidebar-menu-wrapper {
    background-color: hsl(var(--dark));
  }

  .social-list.blog-details a.social-list__link {
    color: hsl(var(--white)/0.6) !important;
    background: hsl(var(--dark));
  }

  .social-list.blog-details {
    padding-right: 0px;
  }

  .blog-details {
    box-shadow: none;
  }

  .dashboard_profile .sidebar-menu-list__link {
    color: hsl(var(--white));
  }

  .experience__count h3 {
    color: hsl(var(--white));
  }

  .experience__content h3 {
    color: hsl(var(--white)/0.8);
  }

  .breadcrumb::after {
    background: hsl(var(--dark)/0.7);
  }

  // hero section
  .hero {
    .search-bar {
      .icon {
        color: hsl(var(--white));
      }

      .search-btn {
        color: hsl(var(--white));

        border-left: 1px solid hsl(var(--base)/.5) !important;
      }
    }
  }

  .hero .circle1 {
    background-color: hsl(var(--white)/.07);
  }

  .hero .circle2 {
    background-color: hsl(var(--white)/.07);
  }

  .hero .circle3 {
    background-color: hsl(var(--white)/.07);
  }

  // hero search box
  .search-form--control {
    box-shadow: 0px 0px 11px 0px hsl(var(--base)/0.3);
    border: 1px solid hsl(var(--base) / .5);
    color: hsl(var(--white)) !important;

    &::placeholder {
      color: hsl(var(--white));
    }
  }

  // footer subscribe latter
  .footer-subscribe-box {
    .form--input__field {
      background-color: hsl(var(--body-color)/0.1);
      border: 1px solid hsl(var(--base) / .5);
      color: hsl(var(--white)) !important;
    }

    .search-btn {
      color: hsl(var(--white));
      border-left: 1px solid hsl(var(--base) / .5) !important;
    }
  }

  // feature card
  .card_wraper {
    .card_body {
      background-color: hsl(var(--dark));
      border: 1px solid hsl(var(--base)/.5);
      box-shadow: 0px 0px 11px 0px hsl(var(--base)/0.3);
    }
  }

  //   discount card
  .product-container {
    box-shadow: 0px 0px 11px 0px hsl(var(--base)/0.3) !important;
    border: 1px solid hsl(var(--base) / .5);
  }

  // priceing card
  .price-cardBody {
    box-shadow: 0px 0px 11px 0px hsl(var(--base)/0.3);
    border: 1px solid hsl(var(--base) / .5);

    .card-circle {
      background-color: hsl(var(--white) / .07);
    }

    .card-circle1 {
      background-color: hsl(var(--white) / .07);

    }
  }

  // blog card
  .nws-card_body {
    box-shadow: 0px 0px 9px 0px hsl(var(--base)/0.2);
    border: 1px solid hsl(var(--base)/0.5) !important;

    a {
      &:hover {
        color: hsl(var(--base)/.5);
      }
    }
  }

  // side bar
  .offcanvas {
    background-color: hsl(var(--dark)) !important;
  }

  // card btn
  .card-actn__btn {
    color: hsl(var(--white));
    border: 1px solid hsl(var(--base)/.5) !important;
  }

  // category cards
  .category-card_body {
    border: 1px solid hsl(var(--base)/.5) !important;
    box-shadow: 0px 0px 11px 0px hsl(var(--base)/0.3);
    background: hsl(var(--dark)) !important;

    .category-img {
      i {
        color: hsl(var(--white) / .7) !important;
      }
    }
  }

  // shop section
  .shop-section {
    form {
      .sidebar_body {
        box-shadow: 0px 0px 6px 0px hsl(var(--base)/0.3);

        .sidebar-header {
          .aside-search-box {
            box-shadow: 0px 0px 11px 0px hsl(var(--base)/0.3);

            .form--input__field {
              background-color: hsl(var(--body-color)/0.1);
              border: 1px solid hsl(var(--base)/.5);
              color: hsl(var(--white)) !important;
            }

            .search-btn {
              color: hsl(var(--white));
              border-left: 1px solid hsl(var(--base)/.5) !important;
            }

          }
        }

        .sidebar-categories {
          max-height: 336px;
          overflow-y: scroll;

          .form-check-input {
            border: 1px solid hsl(var(--base)/.2);
          }

          input[type="checkbox"]:checked {
            background-color: hsl(var(--base));
          }

          :focus {
            border-color: hsl(var(--base));
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px hsl(var(--base)/.5);
          }

          .form-check {
            padding: 4px 40px;
          }
        }

        ::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px hsl(var(--base)/.2);

        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: hsl(var(--base)/.5);

        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: hsl(var(--base));
        }

        .range-slider-box {
          .price-input {
            .input-group {
              .input-group-text {
                color: hsl(var(--white));
              }
            }
          }

          .sliderr {

            height: 6px;
            background-color: hsl(var(--base)/.2);
            position: relative;

            .progresss {
              height: 100%;
              position: absolute;
              left: 5%;
              right: 35%;
              background-color: hsl(var(--base));
            }
          }

          .range-input {
            position: relative;

            input {
              position: absolute;
              top: -5px;
              height: 4px;
              width: 100%;
              background: none;
              -webkit-appearance: none;
              appearance: none;
              pointer-events: none;
              border-radius: 0px !important;
            }

            input[type="range"]::-webkit-slider-thumb {
              height: 24px;
              width: 24px;
              border-radius: 50%;
              pointer-events: auto;
              -webkit-appearance: none;
              background: hsl(var(--base));
            }

            input[type="range"]::-webkit-range-thumb {
              height: 20px;
              width: 20px;
              border-radius: 50%;
              pointer-events: auto;
              border: none;
              -webkit-appearance: none;
              background: hsl(var(--base));
            }
          }

        }

        .sidebar-bottom {
          display: flex;
          justify-content: left;
        }
      }
    }
  }

  .echommerce-products .circle2 {
    background-color: hsl(var(--white)/.07);
  }

  .textform--control {
    &::placeholder {
      color: hsl(var(--white)) !important;
    }

    color: hsl(var(--white));
  }

  .contact-section .circle1 {
    background-color: hsl(var(--white)/.07);
  }

  .coustome-tabs .active {
    border-color: hsl(var(--base)) hsl(var(--base)) hsl(var(--dark)) !important;
  }

  // messenger
  .message-list-show .message-list-box {
    background: hsl(var(--dark));

  }

  .message-main-body .msg-list-wraper .message-text .text p {
    font-size: 14px;
    color: hsl(var(--black)/0.7) !important;
  }

  .message-main-body .msg-list-wraper .odd {
    background: hsl(var(--base)/0.7);
  }

  .message-main-body .message-body-header {
    background: hsl(var(--base)/0.3);
  }

  .msg-btm {
    background: hsl(var(--base)/0.3);
  }

  .message-main-body .msg-list-wraper {
    background: hsl(var(--base)/0.08);
  }

  .message-list-box {
    background: hsl(var(--base)/0.08);
  }

  .message-list-box .massenger-header {
    background: hsl(var(--base)/0.3);
  }

  .message-list-box .message-list .msguser-card {
    border-radius: 0px;
    border-bottom: 1px solid hsl(var(--base));
  }

  .message-main-body .message-body-header .user-profile .user-status {
    color: hsl(var(--white)/0.8);
  }

  // hero search input
  .hero-left-content .search-bar form .search-input {
    &::placeholder {
      color: hsl(var(--white)/0.5) !important;
    }
  }

  .gig-card_body .content {
    background: hsl(var(--dark));
    border: 1px solid hsl(var(--base)/.5);
  }

  .job-card_body .content {
    background: hsl(var(--dark));
    border: 1px solid hsl(var(--base)/.5);
  }

  .hero-right-content .hero-tag2 {
    background: hsl(var(--dark));
  }

  .about-content .title {
    color: hsl(var(--base)) !important;
  }

  .info-box {
    border: 1px solid hsl(var(--base)/.2);
  }

  .get-in-touch-box {
    border: 1px solid hsl(var(--base)/.2);
  }

  .job-summary .smry-list .smry-text span {
    color: hsl(var(--white)/0.9);
  }

  .freelancer-left-meta-box {
    border: 1px solid hsl(var(--base)/0.5);
  }

  .company-skill-history ul li {
    color: hsl(var(--white)/0.9);
  }

  .job-summary {
    border: 1px solid hsl(var(--base)/0.5);
  }

  .billign-info {
    border: 1px solid hsl(var(--base)/0.5);
  }

  .log-in-box {
    border: 1px solid hsl(var(--base)/0.5);
  }

  .header-wrapper .menu-right-wrapper ul li .message-dropdown .message-dropdown-menu .message-item-wraper .message-item a span .message-icon {
    color: hsl(var(--black)) !important;
  }

  .header-wrapper .menu-right-wrapper ul li .message-dropdown .message-dropdown-menu .message-item-wraper .message-item a .message-title {
    color: hsl(var(--black)) !important;
  }

  .header-wrapper .menu-right-wrapper ul li .notification-dropdown .notification-dropdown-menu .notification-item-wraper .notification-item a span .notification-icon {
    color: hsl(var(--black)) !important;
  }

  .header-wrapper .menu-right-wrapper ul li .notification-dropdown .notification-dropdown-menu .notification-item-wraper .notification-item a .notification-title {
    color: hsl(var(--black)) !important;
  }

  .message-main-body .message-body-header .msg-chat-control .setting-dropdown ul li a i {
    color: hsl(var(--black)) !important;
  }

  .message-main-body .message-body-header .msg-chat-control .setting-dropdown ul li a p {
    color: hsl(var(--black)) !important;
  }

  .hero-left-content .search-bar form .search-input {
    color: hsl(var(--white)) !important;
  }

  .right-meta-box {
    border: 1px solid hsl(var(--base)/0.5);
  }

  .section-serch-bar {
    border: 1px solid hsl(var(--base)/0.2);
  }

  // tabs
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: hsl(var(--white)) !important;
    background-color: hsl(var(--dark));
    border-color: var(--bs-nav-tabs-link-active-border-color);
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    color: hsl(var(--white)) !important;

  }

  .key-feature-box {
    background-color: var(--dark-card-bg) !important;
    border: 1px solid hsl(var(--base) / .5);
    box-shadow: none !important;
  }

  .why-choose-card {
    background-color: var(--dark-card-bg);
    border: 1px solid hsl(var(--base) / .5);
    box-shadow: none;
  }

  .get-in-touch {
    background-color: var(--dark-card-bg);
    border: 1px solid hsl(var(--base) / .5);
  }

  .get-in-touch-box {
    background-color: var(--dark-card-bg);
    border: 1px solid hsl(var(--base) / .5);
  }

  //  hero section brand logo
  .hero-content-box .brand-logo {
    margin-top: 20px !important;

  }

  .hero-content-box .brand-logo .brand-logo-thumb {
    background: hsl(var(--white)/.5);
    border-radius: 4px;
    padding: 8px;
  }

  .faq-section-tag .tag-text-content {
    color: hsl(var(--base)) !important;
  }

  .blog-sidebar {
    border: 1px solid hsl(var(--base) / .5);
  }

  .dashboard-header {
    border: 1px solid hsl(var(--base) / .5);
  }

  .dashboard-chart {
    border: 1px solid hsl(var(--base) / .5);
  }

  .payment-info {
    border: 1px solid hsl(var(--base) / .5);
  }

  .notification-dropdown .notification-dropdown-menu .notification-item-wraper .notification-item a .notification-title {
    color: hsl(var(--dark)/0.5) !important;
  }

  .notification-dropdown .notification-dropdown-menu .notification-item-wraper .notification-item a span .notification-icon {
    color: hsl(var(--dark)/0.5) !important;
  }

  .stay-tune-box {
    border: 1px solid hsl(var(--base) / .5);
  }

  .global-card {
    border: 1px solid hsl(var(--base) / .5);
  }

  .stay-tune-box::after {
    background-color: hsl(var(--white)/0.2);

  }

  .form--control:focus~.form--label,
  .form--control:not(:placeholder-shown).form--control:not(:focus)~.form--label {
    top: -14px;
    left: 8px;
    font-size: 14px;
    background: hsl(var(--dark));
  }

  .form--check .form-check-label {
    color: hsl(var(--white) / .7);
  }

  .dashboard-header .search-box i {
    color: hsl(var(--white) / .7);
  }

  .search-box i {
    color: hsl(var(--white) / .7);
  }

  .preview-details {
    color: hsl(var(--white) / .7);
  }

  .error__text span {
    color: hsl(var(--white) / .7);
  }

  .footer-contact-info i {
    color: hsl(var(--white));
  }

  .form-label {
    color: hsl(var(--white) / .7);
  }

  .input-group {
    border: 1px solid hsl(var(--base) / .5);
  }
}
