.etn-widget.etn-add-calender-url{
    margin-top: 25px;
}

.atroly-event-details__text p{
    font-family: 'Manrope', sans-serif;
    
}
.atroly-hero-wrapper-slider .swiper-slide{
    background: #16243E;
}