.login-section {
    overflow: hidden;
    z-index: 1;
    padding: 100px 0px;
    background: linear-gradient(180deg, #09F -28%, #E9F7FF 25%, #E9F7FF 75%, #09F 156%);
}




// sign up
.sign-up_box {

    padding: 20px 0px;
    border-radius: 4px;

    .title {
        margin-bottom: 40px;
    }

    .input-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .input-group-text {
            border-radius: 4px;
            border: 1px solid hsl(var(--base)/.5);
            background: hsl(var(--base));
            color: hsl(var(--white));
        }
    }



    .login-meta {
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        p {
            font-size: 14px;
        }
    }
}



.login-box {

    border-radius: 12px;
    padding: 72px 86px 40px 86px;
    transition: all 0.4s ease-in-out;
    position: relative;
    height: 100%;
    overflow-y: auto;
    background-color: hsl(var(--white));








    .home--btn{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
        background-color: hsl(var(--white)/0.1);
        border-radius: 50%;
        border: 1px solid hsl(var(--white)/0.1);
        display: none;
        color: hsl(var(--base));
    }

    .icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;

        .icon {
            width: 84px;
            height: 84px;
            border-radius: 50%;
            background-color: hsl(var(--base));
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 50px;
                color: hsl(var(--white));
            }
        }
    }

    .logo--wrap{
        margin-bottom: 24px;
    }

    .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
    }

    .condition-text {
        margin-left: 8px;

        a {
            color: hsl(var(--base));
        }

        p {
            font-size: 16px;

            a {
                color: hsl(var(--base)) !important;
            }
        }
    }

    .social-option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 22px;

        .text {
            display: inline-flex;
            align-items: center;

            .option--title {
                margin: 0px 10px;
                font-size: 11px !important;
                font-weight: 300;
                opacity: 0.6;
            }

            &::before {
                content: "";
                width: 100px;
                height: 1px;
                border: 1px solid hsl(var(--black)/.1);
            }

            &::after {
                content: "";
                width: 100px;
                height: 1px;
                border: 1px solid hsl(var(--black)/.1);
            }
        }

        ul {
            display: flex;
            margin: 32px 0px;
            gap: 12px;

            li {
                a {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        p {
            margin-top: 8px;

            a {
                color: hsl(var(--base));
            }
        }
    }

    .req--box {
        height: 123px;
    }

    .form--wrap{
        padding: 0px 14px 100px 14px;
    }
}

.login-box--wrap {
    position: absolute;
    top: 164px;
    width: 100%;
    height: 73vh;
    overflow: hidden;

    .close--btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: hsl(var(--black));
        font-size: 18px;
        background: hsl(var(--black)/0.09);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;

        .wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.login-thumb--wrap {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: hsl(var(--base)/0.5);
        z-index: 1;
        width: 100%;
        height: 100%;

    }

    img {
        width: 100%;
    }
}


.login-container {
    padding: 0px !important;
    margin: 0px !important;
}





.login-left-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: hsl(var(--base));

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.72);
    }



    .content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 9;
        width: 80%;

        .title{
            line-height: 70px;
        }
    }

    .marque1 {
        rotate: 30deg;
        position: relative;
        top: -132px;
    }

    .marque2 {
        rotate: 30deg;
        position: relative;
        top: -46px;
    }
    .marque3 {
        rotate: 30deg;
        position: relative;
        top: 44px;
    }
    .marque4 {
        rotate: 30deg;
        position: relative;
        top: 130px;
    }

}

.login-img--card {
    width: 100%;
    height: 341.348px;
}

@media(max-width: 769px) {
    .signup-section {
        .signup-thumb {
            display: none !important;
        }
    }
}